@import '../general/color.styl'
@import '../general/typography.styl'

button-base()
  body-base($light)
  position relative
  text-decoration none
  text-align center
  cursor pointer
  background $dark-violet /* Old browsers */
  background linear-gradient(to left, #3A63F5 0%,#ba00e0 100%)
  border none
  padding 0.5rem 2rem
  margin 0.5rem 0
  border-radius 3rem
  shadow(1)

  &::before
    /* Position the pseudo-element. */
    content ' '
    position absolute
    top 0
    right 0
    bottom 0
    left 0

    /* Create the box shadow at expanded size. */
    shadow(2)

    /* Hidden by default. */
    opacity 0
    transition opacity 200ms


  &:hover
    text-decoration none

  &:focus, &:active
    box-shadow none

  &:hover::before
    opacity 1

  &:focus::before, &:active::before
    opacity 0

  &[disabled]
    color $gray
    background $light

  .button-icon
    vertical-align middle
    height 1.5rem
    margin-bottom 3px
    margin-right 6px
    fill #fff
    color #fff

button-outline-base()
  button-base()
  background none
  border 1px solid $light

button-class()
  .button
    button-base()
    display block
  button.button
      width 100%

button-inline-class()
  .button-inline
    button-base()
    display inline-block
