@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/limit-width.styl'
@import '../../styles/components/button.styl'
@import '../../styles/components/card.styl'

:host
  display block
  min-height 100vh
  background $light

.header-space
  background $dark-violet
  height 144px
