@import '../../styles/general/limit-width.styl'
@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'

.cell
  product-sans()
  display flex
  justify-content center
  align-items flex-start

    svg
      margin 0rem 1rem

    .number
      font-size: 1.5rem

    .detail
      font-size: 1rem
