@import '../../styles/components/button.styl'
@import '../../styles/general/color.styl'

:host
  display flex
  align-items center

.speaker-summary-item-two-image-container
  min-height 50px

.speaker-summary-item-two-image-anchor
  border-radius 50%
  min-height 45px
  min-width 45px
  display inline-block

.speaker-summary-item-two-image
  --border-radius 50%
  border-radius 50%
  background $light
  max-width 50px
  max-height 50px

.speaker-summary-item-two-name
  text-decoration none
  color $dark
  display block
  margin-left 12px
