@import '../../styles/general/host-block.styl'
@import '../../styles/general/spacing.styl'
@import '../../styles/components/button.styl'

.header
  display: flex
  align-items center
  position absolute
  top 0
  left 0
  right 0
  height 9rem
  z-index 3
  margin 0 auto
  max-width 1440px
  padding 0 12px
  color #fff

  @media screen and (max-width: 1600px)
    max-width 1024px

  @media screen and (max-width: 1024px)
    padding 0 24px

  @media screen and (max-width: 600px)
    height 7rem

  @media screen and (max-width: 400px)
    padding 0 6px
    height 6rem

.header
  .title
    margin: 0
    font-size 1.5rem

    .logo
      width 20rem

      @media screen and (max-width: 600px)
        width 15rem

  .spacer
    flex: 1

  .icon-button
    margin-left: $small

.icon-button
  border: 0
  background: none
  cursor: pointer
  border-radius: 50%
  padding: 0

  &:hover
    background: #eee

.icon
  width: $small
  height: $small
  color #fff
  fill #fff

.show-on-mobile-only
  display: none

  @media screen and (max-width: 700px)
    display: block

.hide-on-mobile
  display: block

  @media screen and (max-width: 700px)
    display: none

.button
  button-base()