@import '../../styles/components/button.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/spacing.styl'

:host
  text-align center
  padding 24px 0;
  display inline-block
  min-width 238px
  max-width 250px
  margin-bottom $small
  box-sizing border-box
  vertical-align top

.speaker-summary-item-image-container
  min-height 200px
  margin-bottom 24px

.speaker-summary-item-image-anchor
  border-radius 50%
  min-height 190px
  min-width 190px
  display inline-block

.speaker-summary-item-image
  --border-radius 50%
  border-radius 50%
  background $light
  max-width 200px
  max-height 200px

.button-outline
  button-outline-base()

.speaker-summary-item-name, .speaker-summary-item-affiliation, .speaker-summary-item-location
  margin 6px

.speaker-summary-item-location
  margin-bottom 24px
