@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'
@import '../../styles/general/limit-width.styl'
@import '../../styles/components/button.styl'
@import '../../styles/components/card.styl'

:host
  display block
  min-height 100vh
  background $light

.banner
  width 100%
  min-height 100vh
  position relative
  z-index 2
  padding-bottom 15rem

  .banner-text
    padding 18rem 2rem 0
    limit-width()

    @media screen and (max-width: 600px)
      padding-top 8rem

    h1-class($light)

    .h1
      font-size 3rem
      max-width 40rem

      @media screen and (max-width: 600px)
        font-size 2rem

  .banner-gradient-container
    z-index -1
    width 100%
    height 100%
    position absolute
    top 0
    left 0
    right 0
    background $dark-violet /* Old browsers */
    background linear-gradient(to right, #36145d 0%,#ba00e0 100%);
    opacity 0.8

  .banner-image-container
    z-index -2
    width 100%
    height 100%
    display flex
    align-items stretch
    position absolute
    top 0
    left 0
    right 0

    .banner-image
      width 100%
      flex 1

//

.banner-buttons
  padding 3rem 0

.button-outline
  button-outline-base()

.card
  limit-width()
  shadow(3)
  padding 3rem

.expect
  padding 0.5rem 3rem 3rem

.overflow-top
  margin -14rem auto 10rem
  z-index 5
  position relative

  @media screen and (max-width: 400px)
    margin-top -7rem

.white
  h1-class($dark)
  h2-class($dark)
  color $dark
  background $light

.grid
  display grid
  grid-template-columns repeat(4, 1fr)

  @media screen and (max-width: 800px)
    grid-template-columns repeat(2, 1fr)

  @media screen and (max-width: 600px)
    grid-template-columns 1fr

  grid-gap 2rem

  .cell
    display flex
    flex-direction column
    text-align center

    h2-class($dark)

    .h2
      font-size 1rem

    .paragraph
      font-size 0.75rem

    .icon-container
      .icon
        width 3rem
        fill $dark-violet

.limit-width
  limit-width()

.tiny-limit-width
  margin 0 auto
  tiny-limit-width()

.center
  text-align center

.section
  padding 0.5rem 1.5rem 3rem

  .section-title
    font-size 3rem

.sponsor-group
  padding 1.5rem

.sponsor-list
  display grid
  justify-items center
  grid-template-columns repeat("auto-fit", minmax(100px, 100%))

.sponsor-image
  max-width 250px
  width 100%
