@import '../../styles/general/limit-width.styl'
@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'

section
  body-base($dark)
  z-index 5
  position relative
  background: none
  background-image -webkit-radial-gradient(50% -100rem, circle closest-corner, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 100%, white calc(100% + 1px));
  margin-top: -10rem
  padding-top: 8rem

.section-container
  limit-width()
  margin 5rem auto 10rem;
  display flex
  padding: 2rem

  @media screen and (max-width: 1024px)
    margin 3rem auto 10rem;
    flex-wrap: wrap

.about-header
  product-sans()
  font-size 4rem
  text-align right
  line-height initial
  background linear-gradient(to right, #ba00e0 , #36145d);
  -webkit-background-clip text;
  -webkit-text-fill-color transparent;
  margin-right 2rem

p
  min-width 50vw
  text-align justify