@import '../../styles/general/limit-width.styl'
@import '../../styles/general/typography.styl'
@import '../../styles/general/color.styl'

section
  padding: 2rem 0rem 8rem
  body-base($light)
  background-color: #36145d
  display flex
  align-items: center
  flex-direction: column

.grid
  limit-width()
  display grid
  grid-template-columns repeat(4, 1fr)

  @media screen and (max-width: 1024px)
    grid-template-columns repeat(2, 1fr)

  @media screen and (max-width: 600px)
    grid-template-columns 1fr

  grid-gap 2rem

  .cell
    product-sans()
    display flex
    align-items center

    @media screen and (max-width: 600px)
      justify-content center

    svg
      margin 0rem 1rem

    .number
      font-size 1.5rem

    .detail
      font-size 1rem


.h1-special
  product-sans()
  font-weight: 300
  text-align: center
  border: 1px solid white
  border-radius: 3rem
  padding 0.5rem 2rem
  margin-bottom 2rem
