@import '../../styles/general/color.styl'
@import '../../styles/general/typography.styl'

:host
  display flex

.speaker-small-item-bar
  width 12px
  margin-right 12px
  background linear-gradient(to top, #36145d 0%,#ba00e0 100%)

.speaker-small-item-h2
  h3-base($dark)
  flex 1

.speaker-small-item-title
  color $dark
  text-decoration none
