@import '../../styles/general/layout.styl';
@import '../../styles/general/spacing.styl';
@import '../../styles/general/typography.styl';
@import '../../styles/general/color.styl';

:host
  display block
