@import '../../styles/general/layout.styl';
@import '../../styles/general/spacing.styl';
@import '../../styles/general/color.styl';
@import '../../styles/general/typography.styl';

:host
  display flex
  align-items stretch
  @media screen and (max-width: 600px)
    display block

.speaker-item-h1
  h1-base($light);

.session-h1
  h1-base($dark);

.speaker-item-image-section
  flex 1
  padding 24px
  text-align center
  background linear-gradient(to top, #36145d 0%,#ba00e0 100%);

.speaker-item-bio-section
  flex 3
  padding 24px
  background $light
  color $dark
  display flex
  flex-flow column
  min-height 300px

.speaker-item-bio
  flex 1

.speaker-item-image-container
  min-height 200px
  margin-bottom 24px

.speaker-item-image-anchor
  border-radius 50%
  min-height 190px
  min-width 190px
  display inline-block

.speaker-item-image
  --border-radius 50%
  border-radius 50%
  background $light
  max-width 200px
  max-height 200px

.speaker-item-name, .speaker-item-affiliation, .speaker-item-location
  margin 6px
  color $light

.speaker-item-location
  margin-bottom 24px
