@import '../../styles/general/color.styl'
@import '../../styles/general/typography.styl'

:host
  display block

.session-summary-item-two-h3
  h3-base($dark)
  margin 12px 0

.session-summary-item-two-title
  color $dark
  text-decoration none
