@import '../../styles/general/layout.styl';
@import '../../styles/general/spacing.styl';
@import '../../styles/general/color.styl';
@import '../../styles/general/typography.styl';

:host
  display block
  padding 1.5rem

.sponsor-group-title
  h2-base($dark);

.sponsor-list
  display block
  text-align center
