:host
  display inline-block
  position relative

.thumbnail
  position absolute
  width 100%
  opacity 1

  &.image-loaded
    opacity 0

.image
  width 100%
  opacity 0

  &.image-loaded
    opacity 1

.thumbnail, .image
  transition opacity 1s
  &:not([src])
    opacity 0

  &[cover]
    height 100%
    width 100%
    object-fit cover
