@import '../../styles/general/layout.styl';
@import '../../styles/general/spacing.styl';
@import '../../styles/general/color.styl';
@import '../../styles/general/typography.styl';

:host
  display block

.schedule-session-h3
  h3-base($dark);
  margin 12px 0 ;
