@import '../../styles/general/color.styl'
@import '../../styles/general/typography.styl'

:host
  display flex

.session-summary-item-bar
  width 12px
  margin-right 12px
  background linear-gradient(to top, #36145d 0%,#ba00e0 100%)

.session-summary-item-h2
  h3-base($dark)
  flex 1

.session-summary-item-title
  color $dark
  text-decoration none
