@import '../../styles/general/color.styl';
@import '../../styles/general/limit-width.styl';
@import '../../styles/general/spacing.styl';

:host
  background $dark-violet
  display block
  color $light

.container
  margin 0 auto
  limit-width()
  padding 0 24px 24px
