@import '../../styles/general/color.styl';
@import '../../styles/general/limit-width.styl';
@import '../../styles/general/spacing.styl';

:host
  background $dark-violet
  display block
  padding $large 0
  color $light

.container
  margin 0 auto
  limit-width()
  padding-bottom 24px
