@import '../../styles/general/layout.styl';
@import '../../styles/general/spacing.styl';

:host
  display grid
  grid-template-columns repeat(auto-fill, minmax(200px, 1fr))
  justify-content space-around
  grid-gap $small
