limit-width()
  margin 0 auto
  max-width 1440px

  @media screen and (max-width: 1600px)
    max-width 1024px

small-limit-width()
  max-width 700px
  padding 0 1.5rem

tiny-limit-width()
  max-width 500px
  padding 0 1.5rem